
.vs/obfuscator/v16/Browse.VC.db
x64/Debug/obfuscator.pdb
.vs/obfuscator/v16/ipch/AutoPCH/a02be48b31a73b19/OBFUSCATOR.ipch
.vs/obfuscator/v16/Browse.VC.opendb
.vs/obfuscator/v16/Browse.VC.db-wal
.vs/obfuscator/v16/Browse.VC.db-shm
x64/Debug/vc142.pdb
x64/Debug/vc142.idb
